@import "@heyforms/ui/lib/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased font-sans;
}

/* Scrollbar styles */
.scrollbar {
  @media (min-width: 640px) {
    &::-webkit-scrollbar {
      @apply appearance-none bg-transparent w-1.5 h-1.5;
    }

    &::-webkit-scrollbar-thumb {
      @apply hidden w-1.5 bg-gray-300 opacity-0;
      border-radius: 0.1875rem;
    }

    &::-webkit-scrollbar-track {
      @apply appearance-none hidden;
    }

    &:hover {
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track {
        @apply block;
      }
    }
  }
}

@keyframes skeleton {
  from {
    background-position: 100% 50%
  }

  to {
    background-position: 0 50%
  }
}

.skeleton {
  background: linear-gradient(90deg, #f3f4f6 25%, #e5e7eb 37%, #f3f4f6 63%);
  background-size: 400% 100%;
  animation: skeleton 1.4s ease infinite;
}

.sidebar {
  nav a {
    &.active {
      @apply bg-gray-100 text-gray-900 hover:bg-gray-100;

      svg {
        @apply text-gray-500;
      }
    }
  }
}

.sidebar-popup-enter-active,
.sidebar-popup-exit {
  .sidebar-overlay {
    @apply opacity-100;
  }

  .sidebar-wrapper {
    @apply translate-x-0;
  }
}

.sidebar-popup-enter,
.sidebar-popup-exit-active,
.sidebar-popup-exit-done {
  .sidebar-overlay {
    @apply opacity-0;
  }

  .sidebar-wrapper {
    @apply -translate-x-full;
  }
}

.sidebar-popup-exit-done {
  @apply hidden;
}

.overflow-y-auto {
  -webkit-overflow-scrolling: touch;
}

.workspace-switch {
  .menus {
    @apply w-full sm:w-80 2xl:w-96 py-4 -mt-12;

    @media (min-width: 640px) {
      width: 22.5rem;
    }

    .avatar-text {
      @apply text-sm;
    }
  }

  .button {
    @apply flex w-full;

    .avatar-text {
      @apply text-sm;
    }
  }

  .button-content {
    @apply flex-auto text-left;
  }
}

.project-item {
  &:hover {
    .project-item-action {
      @apply block;
    }
  }
}

.member-manage {
  @apply ml-2 w-8 h-8 p-1.5;

  .button-leading {
    @apply w-full h-full;
  }
}

.non-scaling-icon {
  path {
    vector-effect: non-scaling-stroke;
  }
}
