.scrollbar {
  overflow-y: auto;
  overflow-y: overlay;
  scrollbar-gutter: stable;

  @media (min-width: 768px) {
    &::-webkit-scrollbar {
      height: 12px;
      width: 12px
    }

    &::-webkit-scrollbar-thumb:vertical {
      background-color: transparent;
      border-radius: 6px
    }

    &:hover::-webkit-scrollbar-thumb:vertical {
      border: 3px solid transparent;
      background-color: rgba(0, 0, 0, .2);
      background-clip: content-box;
    }

    &::-webkit-scrollbar-button:vertical {
      display: block
    }

    &::-webkit-scrollbar-button:start:decrement {
      display: block
    }

    &::-webkit-scrollbar-button:end:increment {
      display: block
    }

    &::-webkit-scrollbar-button:vertical:start:increment {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:end:decrement {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:increment {
      display: none
    }

    &::-webkit-scrollbar-button:vertical:decrement {
      display: none
    }

    &::-webkit-scrollbar-track:vertical {
      display: none
    }

    &::-webkit-scrollbar-track-piece {
      background-color: transparent
    }

    &::-webkit-scrollbar-corner:vertical {
      background-color: transparent
    }

    &::-webkit-scrollbar-resizer:vertical {
      background-color: transparent
    }
  }
}


// ----------------------------------------------------------------------------
// Radio
.heyform-radio {
  @apply mb-2 cursor-pointer;
  min-height: 2.5rem;
}

.heyform-radio-container {
  @apply flex w-full p-2 rounded transition;

  background-color: var(--heyform-answer-opacity-10-color);
  color: var(--heyform-answer-color);
  box-shadow: var(--heyform-answer-opacity-60-color) 0 0 0 1px inset;

  &:hover {
    background-color: var(--heyform-answer-opacity-30-color);
  }
}

.heyform-radio-content {
  @apply flex flex-1 items-center;
}

.heyform-radio-hotkey {
  @apply flex items-center justify-center w-6 h-6 bg-white text-xs font-bold rounded-sm;
  background-color: var(--heyform-background-color);
  box-shadow: var(--heyform-answer-opacity-60-color) 0 0 0 1px inset;
}

.heyform-radio-label {
  @apply flex-1 ml-2 mr-2;
}

.heyform-radio-icon {
  @apply flex items-center justify-center opacity-0 invisible;

  svg {
    @apply w-6 h-6;
  }
}

.heyform-radio-selected {
  .heyform-radio-icon {
    @apply opacity-100 visible;
  }
}

.heyform-radio-selected {
  .heyform-radio-container {
    border-color: var(--heyform-answer-opacity-80-color);
    box-shadow: var(--heyform-answer-opacity-80-color) 0 0 0 2px inset;
  }

  .heyform-radio-hotkey {
    color: var(--heyform-background-color);
    background-color: var(--heyform-answer-opacity-80-color);
  }
}

.heyform-radio-image {
  @apply flex w-full h-40 items-center justify-center;

  img {
    @apply block min-w-full max-h-full min-h-0 object-cover;
  }
}

.heyform-radio-trigger {
  @extend .heyform-radio-image;
  background-color: var(--heyform-answer-opacity-80-color);
}

.heyform-radio-placeholder {
  path {
    vector-effect: non-scaling-stroke;
  }
}

.heyform-radio-group-disabled {
  .heyform-radio:not(.heyform-radio-selected) {
    @apply opacity-50 cursor-auto;

    .heyform-radio-container {
      &:hover {
        background-color: var(--heyform-answer-opacity-10-color);
      }
    }
  }
}


// ----------------------------------------------------------------------------
// CountrySelect
.heyform-select {
  @apply w-full;
}

.heyform-select-container {
  @apply flex items-center pb-2 cursor-pointer;
  color: var(--heyform-answer-color);
  border-bottom: 1px solid var(--heyform-answer-opacity-80-color);
}

.heyform-select-open {
  .heyform-select-container {
    box-shadow: 0 1px 0 0 var(--heyform-answer-opacity-80-color);
  }
}

.heyform-select-value {
  @apply h-8 flex flex-1 items-center;
}

.heyform-select-label {
  @apply flex-1 text-2xl;
  color: var(--heyform-answer-color);

  &:before {
    content: attr(placeholder);
    color: var(--heyform-answer-opacity-30-color);
    @apply absolute hidden truncate pointer-events-none text-2xl;
  }

  &:empty:before {
    @apply block;
  }

  &:empty:after {
    content: "";
    @apply inline-block;
  }
}

.heyform-select-arrow-icon {
  svg {
    @apply w-6 h-6;
  }
}

.heyform-select-popup {
  @apply pt-2 bg-transparent max-h-60 overflow-auto focus:outline-none;
}

.heyform-select-helper {
  @apply mb-4 text-sm;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Block
.heyform-root {
  @apply relative w-full h-full;
}

.heyform-block-container {
  @apply absolute top-0 left-0 w-full h-full overflow-hidden;

  &.heyform-dropdown-visible {
    .heyform-submit-container {
      @apply opacity-0 pointer-events-none;
    }
  }
}

.heyform-block {
  @apply absolute inset-0 inset-0 z-10;
  transition: transform 500ms ease 0s, opacity 200ms ease 0s;

  &.heyform-block-float_left,
  &.heyform-block-split_left {
    @apply left-1/2 w-1/2;
  }

  &.heyform-block-float_right,
  &.heyform-block-split_right {
    @apply w-1/2;
  }
}

.heyform-block-previous {
  opacity: 0;
  transform: translateY(-100vh);
}

.heyform-block-next {
  opacity: 0;
  transform: translateY(100vh);
}

.heyform-block-entered {
  opacity: 1;
  transform: translateY(0);
}

.heyform-block-main {
  @apply mx-auto w-full;
  max-width: 45rem;
}

.heyform-block-title {
  @apply text-2xl;
  color: var(--heyform-question-color);
}

.heyform-block-description {
  @apply text-lg;
  color: var(--heyform-description-color);
}

.heyform-block-label {
  @apply text-base mb-1;
  color: var(--heyform-label-color);
}

// ----------------------------------------------------------------------------
// Layout
.heyform-layout {
  @apply absolute rounded-lg pointer-events-none;
  z-index: 2;

  img {
    @apply block w-full h-full object-cover object-center rounded-lg;
  }
}

.heyform-layout {
  @apply absolute rounded-lg pointer-events-none;
  z-index: 4;

  img {
    @apply block w-full h-full object-cover object-center rounded-lg;
  }
}

.heyform-block-inline {
  .heyform-layout-inline {
    @apply relative mb-8 text-center;

    img {
      @apply inline-block w-auto h-auto;
      max-width: 75%;
      max-height: 20rem;
    }
  }
}

.heyform-layout-cover {
  @apply inset-0;
}

.heyform-layout-float_left,
.heyform-layout-float_right {
  @apply flex items-center justify-center;

  img {
    @apply w-auto h-auto max-w-full rounded-none;
    max-height: 70%;
  }
}

.heyform-layout-float_left,
.heyform-layout-split_left {
  @apply left-0 top-0 w-1/2 h-full;
}

.heyform-layout-float_left {
  padding-left: 5rem;
  padding-right: 3.5rem;
}

.heyform-layout-split_left {
  img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.heyform-layout-float_right,
.heyform-layout-split_right {
  @apply left-auto right-0 w-1/2 h-full;
}

.heyform-layout-float_right {
  padding-left: 3.5rem;
  padding-right: 5rem;
}

.heyform-layout-split_right {
  img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// ----------------------------------------------------------------------------
// Welcome
.heyform-empty-state {
  .heyform-block-title,
  .heyform-block-description {
    @apply text-center;
  }

  .heyform-block-title {
    @apply text-3xl mb-4;
  }

  .heyform-submit-container {
    @apply justify-center;
  }

  .heyform-layout-inline img {
    @apply rounded-none;
  }
}

.heyform-statement {
  .heyform-block-title,
  .heyform-block-description,
  .heyform-layout-inline {
    @apply text-left;
  }

  .heyform-submit-container {
    @apply justify-start;
  }
}

.heyform-welcome,
.heyform-thank-you {
  .heyform-submit-button {
    @apply justify-center;
  }
}

// ----------------------------------------------------------------------------
// Short text
.heyform-input,
.heyform-input[type="email"],
.heyform-input[type="number"],
.heyform-input[type="tel"],
.heyform-textarea {
  @apply w-full p-0 pb-2 border-none bg-transparent text-2xl transition outline-none shadow-none;
  color: var(--heyform-answer-color);
  border-bottom: 1px solid var(--heyform-answer-opacity-80-color);

  &:focus {
    @apply -mb-px border-2;
    box-shadow: none;
    border-color: var(--heyform-answer-opacity-80-color);
  }

  &::placeholder {
    color: var(--heyform-answer-opacity-30-color);
  }
}

// ----------------------------------------------------------------------------
// Long text
.heyform-textarea {
  @apply relative;
  min-height: 2.5rem;

  &:empty:before {
    @apply absolute truncate pointer-events-none text-2xl;
    content: attr(placeholder);
    color: var(--heyform-answer-opacity-30-color);
  }
}

.heyform-textarea-hit {
  @apply mt-1.5 text-xs;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Opinion scale
.heyform-opinion-scale {
  .heyform-radio-icon {
    @apply hidden;
  }

  .heyform-radio-group {
    @apply flex items-center space-x-2;
  }

  .heyform-radio {
    @apply flex-1 h-14;
  }

  .heyform-radio-container {
    @apply h-full;
  }

  .heyform-radio-label {
    text-align: center;
  }

  .heyform-radio-selected {
    .heyform-radio-container {
      color: var(--heyform-background-color);
      background-color: var(--heyform-answer-color);
    }
  }
}

.heyform-opinion-scale-labels {
  @apply flex items-center mt-1;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Multiple choice
.heyform-multiple-choice {
  .heyform-radio-group{
    @apply inline-flex flex-col;
    flex-flow: column wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
  }

  .heyform-radio {
    @apply w-auto max-w-full;
  }

  .heyform-radio-container {
    @apply inline-flex w-full;
    min-width: 14rem;
    max-width: 100%;
  }
}

.heyform-radio-label {
  .input {
    @apply p-0;
  }

  .input,
  .input-focused {
    @apply px-0 border-none outline-none shadow-none;
    box-shadow: none;
  }

  input {
    @apply text-lg w-full;
    color: var(--heyform-answer-color);

    &::placeholder {
      color: var(--heyform-answer-opacity-60-color);
    }
  }
}

// ----------------------------------------------------------------------------
// Picture choice
.heyform-picture-choice {
  .heyform-radio-group {
    @apply flex flex-wrap -mx-1 -mb-2 items-stretch;
  }

  .heyform-radio {
    @apply w-1/4 px-1 mb-2;
    height: 12rem;

    &:hover {
      .heyform-radio-actions {
        @apply block;
      }
    }
  }

  .heyform-radio-container {
    @apply relative flex-col p-2.5 w-full h-full;
  }

  .heyform-radio-content {
    @apply w-full flex-none;
  }

  .heyform-radio-image {
    @apply py-2.5;

    svg {
      @apply w-8 h-8;
      color: var(--heyform-answer-opacity-60-color);
    }
  }

  .heyform-radio-icon {
    @apply absolute right-0 top-0;

    svg {
      @apply absolute top-1/2 left-1/2 -ml-7 mt-0.5;
      color: var(--heyform-background-color);
    }

    &:before {
      @apply absolute right-0 top-0 w-0 h-0 rounded-r border;
      content: "";
      border-width: 1.5rem;
      border-style: solid;
      border-image: initial;
      border-color: var(--heyform-answer-color) var(--heyform-answer-color) transparent transparent;
      border-radius: 0.25rem;
    }
  }
}

// -----------------------------------------------------------------------------
// File upload
.heyform-file-uploader {
  @apply flex items-center justify-center h-72 rounded transition cursor-pointer;
  color: var(--heyform-answer-opacity-60-color);
  border: 1px dashed var(--heyform-answer-color);
  background-color: var(--heyform-answer-opacity-10-color);

  &:hover {
    background-color: var(--heyform-answer-opacity-30-color);
  }
}

.heyform-file-uploader-dragging {
  border-width: 2px;
}

.heyform-upload-wrapper {
  @apply flex flex-col items-center pointer-events-none;
}

.heyform-upload-icon {
  @apply w-20 h-20;
  color: var(--heyform-answer-opacity-30-color);

  path {
    vector-effect: non-scaling-stroke;
  }
}

.heyform-upload-size-limit,
.heyform-upload-error {
  @apply mt-1 text-sm;
}

.heyform-upload-error {
  @apply text-red-500;
}


// -----------------------------------------------------------------------------
// Signature
.heyform-signature-wrapper {
  border: 1px dashed var(--heyform-answer-color);
  background-color: var(--heyform-answer-opacity-10-color);

  &,
  canvas {
    @apply w-full h-40 rounded;
  }
}

.heyform-signature-bottom {
  @apply flex items-center justify-between mt-2;

  &,
  .button {
    color: var(--heyform-answer-opacity-60-color);
  }
}


// ----------------------------------------------------------------------------
// Rating
.heyform-rating {
  .rate {
    @apply space-x-2;
  }

  .rate-item {
    @apply flex flex-col w-16 cursor-pointer;
  }

  .heyform-icon {
    @apply w-16 h-16 mb-2;
  }

  .heyform-icon-stroke {
    stroke: var(--heyform-answer-color);
  }

  .rate-item-hover {
    .heyform-icon-fill {
      fill: var(--heyform-answer-opacity-10-color);
    }
  }

  .rate-item-active {
    .heyform-icon-fill {
      fill: var(--heyform-answer-color);
    }
  }

  .heyform-rate-index {
    @apply block text-center;
    color: var(--heyform-answer-color);
  }
}

// ----------------------------------------------------------------------------
// Phone number
.heyform-phone-number {
  .heyform-input {
    @apply w-80 ml-4;
  }

  .heyform-select {
    @apply w-12;
  }

  .heyform-select-arrow-icon {
    svg {
      @apply w-4 h-4;
    }
  }
}

.heyform-radio-calling-code {
  @apply w-8;
}

.heyform-phone-number-popup {
  width: inherit !important;
}

// ----------------------------------------------------------------------------
// Date
.heyform-date-root {
  @apply flex items-end;
}

.heyform-date-item {
  @apply flex flex-col;
}

.heyform-date-label {
  @apply text-sm mb-2;
  color: var(--heyform-answer-color);
}

.heyform-date-item-Month,
.heyform-date-item-Day {
  @apply w-12;
}

.heyform-date-item-Year {
  @apply w-20;
}

.heyform-date-divider {
  @apply text-2xl mb-2 mr-4 ml-5;
  color: var(--heyform-answer-color);
}

// ----------------------------------------------------------------------------
// Footer
.heyform-footer {
  @apply absolute left-0 bottom-0 w-full p-4 flex items-center justify-end z-20;
}

.heyform-footer-wrapper,
.heyform-pagination {
  @apply flex items-center;
}

.heyform-pagination {
  @apply mr-2;
}

.heyform-branding,
.heyform-pagination .button {
  @apply px-2.5 py-0.5 shadow-none;
  min-height: 1.875rem;
  background-color: var(--heyform-button-color);
  color: var(--heyform-button-text-color);

  &:hover {
    @apply opacity-80;
    background-color: var(--heyform-button-color);
  }
}

.heyform-branding {
  @apply rounded;
  line-height: 1.625rem;
}

.heyform-pagination .button {
  @apply px-2;

  .button-trailing {
    @apply m-0;
    color: var(--heyform-button-text-color);

    svg {
      @apply w-6 h-6;
    }
  }

  &[disabled] {
    @apply opacity-100 cursor-default;

    .button-trailing {
      @apply opacity-60;
    }
  }
}

.heyform-pagination-next {
  @apply rounded-l-none;
}

.heyform-pagination-previous {
  @apply relative rounded-r-none;

  &:after {
    @apply absolute right-0 top-0 w-px h-full opacity-30;
    content: "";
    background-color: var(--heyform-button-text-color);
  }
}

// ----------------------------------------------------------------------------
// Form
.heyform-form-field-error {
  @apply inline-block px-2 py-1 text-red-600 bg-red-100 rounded text-sm;
}

.heyform-submit-container {
  @apply flex items-center mt-8 transition-opacity duration-500;
}

.heyform-submit-button {
  @apply inline-flex items-center justify-between px-5 py-1.5 text-lg font-medium shadow-none outline-none rounded-md;
  min-width: 7.5rem;
  background-color: var(--heyform-button-color);
  color: var(--heyform-button-text-color);

  &:hover {
    background-color: var(--heyform-button-opacity-80-color);
  }

  svg {
    @apply ml-2 -mr-1 h-5 w-5;
  }
}

.heyform-submit-helper {
  @apply mt-4 text-sm;

  &,
  a {
    color: var(--heyform-answer-color);
  }

  a {
    @apply underline;
  }
}
