@import "@heyforms/ui/lib/style.css";
@import "@heyforms/form-component/lib/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased font-sans;
}

.overflow-y-auto {
  -webkit-overflow-scrolling: touch;
}

.modal-body,
.select-popup-content {
  @extend .scrollbar;
}

.non-scaling-stroke {
  path {
    vector-effect: non-scaling-stroke;
  }
}

.empty-states-fit,
.empty-states-full {
  @apply flex flex-col justify-center;
}

.empty-states-fit {
  height: calc(100vh - 23.625rem);

  @media (min-width: 768px) {
    height: calc(100vh - 18.75rem);
  }
}

.empty-states-full {
  height: calc(100vh - 8.125rem);

  @media (min-width: 768px) {
    height: calc(100vh - 5rem);
  }
}
